<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WebServiceEvent -->
      <package
            uri="http://www.example.org/modelevent/"
            class="fr.inria.diverse.webservice.dsl.event.webserviceevent.WebserviceeventPackage"
            genModel="model/WebServiceEvent.genmodel"/>
   </extension>

</plugin>
